* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  padding: 100px 20px;
  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    160deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 93, 160, 1) 65%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 100px;
  transition: 0.3s;
  padding: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    1800deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 93, 160, 1) 65%
  );
}
